/* styles.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente */
    background-color: #f5f5f5; /* Color de fondo suave */
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; /* Aumenta el padding */
    border: 1px solid #ccc;
    border-radius: 8px; /* Aumenta el radio para un aspecto más suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    background-color: white; /* Fondo blanco para el formulario */
}

.login-form h4 {
    margin-bottom: 20px; /* Espacio entre el título y los campos */
    color: #333; /* Color del texto más oscuro */
}

.login-form .MuiTextField-root {
    margin-bottom: 20px; /* Espacio entre campos de texto */
}

.login-form .MuiButton-root {
    margin-top: 10px; /* Espacio antes del botón */
    background-color: #1976d2; /* Color del botón */
    color: white; /* Color del texto del botón */
    width: 100%; /* Botón ocupa todo el ancho */
}

.login-form .MuiButton-root:hover {
    background-color: #145a86; /* Color del botón al pasar el mouse */
}

.error-message {
    margin-top: 10px; /* Espacio para el mensaje de error */
    color: red; /* Color rojo para mensajes de error */
}
